/* Testing map */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-area {
    margin: 0 auto;
    height: 500px;
    width: 650px;
}

#location-error {
    position: absolute;
    top: 0;
    width: 100%;

}
/* End testing map */