team-style
*   {
    box-sizing: border-box;
    position: relative;
}

/* #title  {
    padding: 20px;
    margin-bottom: 20px;
} */

body    {
    background-color: #003366;
}

#food   {
    width: 100%;
}
/* Testing map */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-area {
    margin: 0 auto;
    height: 500px;
    width: 650px;
}

#location-error {
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
}
/* End testing map */
